.section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
@media screen and (min-width: 992px) and (max-width: 1150px) {
    .section{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 660px) and (max-width: 991px) {
    .section{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 659px) {
    .section{
        grid-template-columns: repeat(1, 1fr);
    }
}