input{
    padding: 0.6rem;
    border-radius: 0.6rem;
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
}
input:focus{
    background-color: bisque;
}
h1{
    font-size: 3rem;
}
@media screen and (max-width: 450px) {
    input{
        width: 17rem;
    }
}